html
	font-family: Tahoma,Arial,sans-serif !important

body

*
    box-sizing: border-box;
    font-family: Tahoma,Arial,sans-serif !important

.container
	max-width: 960px
	margin: 0 auto

.dress-list
	list-style: none
	.dress-item
		float: left
		height: 438px
		width: 25%
		margin: 0
		img
			height: 246px